@using OnXap
@using OnXap.Core.Modules
@using OnXap.Modules.Admin
@using OnXap.Modules.Auth
@using OnXap.Modules.Customer
@using OnXap.Modules.FileManager
@{
    var g = this;

    if (string.IsNullOrEmpty(this.GetTitle()))
    {
        if (this.GetModule() != null && !string.IsNullOrEmpty(this.GetModule().Caption)) { this.SetTitle(this.GetModule().Caption); }
    }

    if (string.IsNullOrEmpty(this.GetDescription()))
    {
        this.SetDescription(this.GetConfig().site_descr.Replace(" \"", "&quot;"));
    }

    if (string.IsNullOrEmpty(this.GetKeywords()))
    {
        this.SetKeywords(this.GetConfig().site_keys.Replace(" \"", "&quot;"));
    }

    var moduleAdmin = this.GetAppCore().GetModulesManager().GetModule<ModuleAdmin>();
    var currentUserContext = this.GetCurrentUserContext();
    var userUpdate = new
    {
        isGuest = currentUserContext.IsGuest,
        access = new
        {
            controlPanel = moduleAdmin.CheckPermission(currentUserContext, ModulesConstants.PermissionManage)
        },
        idImage = currentUserContext.GetData().IdPhoto
    };
}

<!DOCTYPE html>
<html lang="ru" @RenderSection("htmlTagAttributes", false)>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="">

    <title>@this.GetTitle() : @this.GetConfig().SiteFullName</title>

    <meta name="description" content="@this.GetDescription()" />
    <meta name="keywords" content="@this.GetKeywords()" />

    <link rel="shortcut icon" href="~/Data/img/logo/favicon.ico" type="image/x-icon">

    <script src="~/Design/UI/vue/vue.min.js"></script>
    <script src="~/Design/UI/primevuelibrary/quill.min.js"></script>
    <!--<script src="~/primevuelibrary/primevuelibrary.js"></script>-->
    <script src="~/Design/UI/primevuelibrary/primevuelibrary.min.js"></script>

    <link href="~/Design/UI/primevuelibrary/primevuelibrary.min.css " rel="stylesheet">
    <link href="~/Design/UI/primevuelibrary/themes/nova-accent/theme.css " rel="stylesheet">

    <script type="text/javascript" src="~/Design/UI/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Design/UI/jqueryui/jquery-ui.min.css" />
    <script type="text/javascript" src="~/Design/UI/jqueryui/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="/data/css/main.css">
    <link rel="stylesheet" href="/data/css/font-awesome.min.css">

    <script src='https://code.jquery.com/jquery-migrate-1.2.1.min.js'></script>

    <script type="text/javascript" src="/data/js/common.js"></script>
    <script type="text/javascript" src="/data/js/work.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script type="text/javascript" src="/data/js/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/data/js/arcticmodal/jquery.arcticmodal-0.3.css" />
    <link rel="stylesheet" type="text/css" href="/data/js/arcticmodal/themes/simple.css" />

    @RenderSection("head", false)

</head>
<body>

    <!-- (wrapper) -->
    <div class="wrapper">
        <!-- (main-header) -->
        <div class="main-header">
            @RenderSection("MainHeaderLogo", false)
            @if (!IsSectionDefined("MainHeaderLogo"))
            {
                <a href="/"><img src="~/Data/img/logo/logo-rounded.png" class="main-header-logo p-menubar" /></a>
            }
            <!-- (breadcrumbs) -->
            <div>
                <div id="js-main-header"
                        data-user-signin-url="@(Url.CreateRoute<ModuleAuth, ModuleAuthController>())"
                        data-user-signout-url="@(Url.CreateRoute<ModuleAuth, ModuleAuthController>(x => x.SignOut()))"
                        data-user-profile-url="@(Url.CreateRoute<ModuleCustomer, ModuleControllerCustomer>())"
                        data-user-image-template-url="@(Url.CreateRoute<FileManager, FileManagerController>(x => x.FileImageCrop(1234567890, 100, 100)))"
                        data-controlpanel-url="@(Url.CreateRoute<ModuleAdmin, ModuleAdminController>())">
                    <pvl-menubar>
                        <template #start>
                            @RenderSection("MainHeaderStart", false)
                        </template>
                        <template #end>
                            @RenderSection("MainHeaderEnd", false)
                            <pvl-button label="Вход" icon="pi pi-power-off" v-show="!user.logged" @@click="onRoute('userSigninUrl')"></pvl-button>
                            <img :src="userImageUrl" v-show="user.logged" class="user-image-header p-button" @@click="OnToggleUserMenu" />
                            <pvl-menu ref="userMenu" :model="userMenuItems" :popup="true" class="main-header-user-menu" />
                        </template>
                    </pvl-menubar>
                </div>
                @RenderSection("breadcrumbs", false)
                @if (!IsSectionDefined("breadcrumbs"))
                {
                    <div class="breadcrumbs inner-breadcrumbs">
                        <div class="breadcrumbs__cover cover">
                            <div class="breadcrumbs__links">
                                <p class="breadcrumbs__last">Главная</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- End (breadcrumbs) -->
        </div>
        <!-- End (main-header) -->
        <!-- (main-content) -->
        <div class="page-body">
            @RenderBody()
        </div>
        <!-- End (main-content) -->
    </div>
    <!-- End (wrapper) -->
    <!-- (popup-dialog) -->
    <div class="none">
        <div class="popup popup-dialog" id="popup-dialog">
            <div class="popup__content"></div>
            <div class="popup__buttons"></div>
        </div>
    </div>
    <!-- End (popup-dialog) -->

    @RenderSection("scripts", false)
    <script type="text/javascript" src="~/Data/Modules/Common/standardui.js"></script>
    <script type="text/javascript">
        StandardUI.MainHeader.userUpdate(@userUpdate.jsobject());
    </script>
</body>
</html>