@using OnXap
@using OnXap.Modules.Admin
@using OnXap.Modules.Routing
@using OnXap.Types
@helper submodule(IList<IItemRouted> links)
{
    if (links != null)
    {
        <ul>
            @foreach (var link in links)
            {
                if (link is NestedLinkGroup)
                {
                    <li>
                        <a href='' class='inmenu'>@link.Caption</a>
                        @submodule((link as NestedLinkGroup).Links)
                    </li>
                }
                else if (link.Url == null)
                {
                    <li><span>@link.Caption</span></li>
                }
                else
                {
                    <li><a href='@link.Url'>@link.Caption</a></li>
                }

            }
        </ul>
    }
}

@if (Request.Url.ToString().Contains("/madmin/"))
{
    @: @RenderBody()
}
else
{
    <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
    <html>
    <head>
        <title>
            @this.GetTitle()
            @RenderSection("title", false)
            @{ var title = " | " + this.GetConfig().SiteFullName; }
            @title
        </title>
        <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <link rel="shortcut icon" href="~/Data/img/logo/favicon.ico" type="image/x-icon">

        <script src="~/Design/UI/vue/vue.min.js"></script>
        <script src="~/Design/UI/primevuelibrary/quill.min.js"></script>
        <script src="~/Design/UI/primevuelibrary/primevuelibrary.min.js"></script>

        <link href="~/Design/UI/primevuelibrary/primevuelibrary.min.css " rel="stylesheet">
        <link href="~/Design/UI/primevuelibrary/themes/nova-accent/theme.css " rel="stylesheet">

        <script type="text/javascript" src="~/Design/UI/jquery/jquery.min.js"></script>
        <link rel="stylesheet" href="~/Design/UI/jqueryui/jquery-ui.min.css" />
        <script type="text/javascript" src="~/Design/UI/jqueryui/jquery-ui.min.js"></script>

        <script type="text/javascript" src="~/Design/UI/momentjs/moment-with-locales.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/data/css/admin.css">
        <link rel="stylesheet" type="text/css" href="/data/img/flick/jquery-ui-1.8.custom.css">

        <script src='https://code.jquery.com/jquery-migrate-1.2.1.min.js'></script>

        <script type='text/javascript' src='/data/js/jquery.wysiwyg.js'></script>

        <script type="text/javascript" src="/data/libs/jquery.tablesorter/jquery.tablesorter.min.js"></script>
        <script type="text/javascript" src="/data/libs/jquery.tablesorter/jquery.tablesorter.pager.js"></script>
        <script type="text/javascript" src="/data/libs/jquery.tablesorter/jquery.tablesorter.widgets.js"></script>
        <link rel="stylesheet" type="text/css" href="/data/libs/jquery.tablesorter/themes/theme.default.css" />

        <script type="text/javascript" src="/data/js/jquery.tablefill.js "></script>
        <script type='text/javascript' src='/data/js/jquery.cookie.js'></script>

        <script type='text/javascript' src='/data/js/admin.js'></script>
        <script type='text/javascript' src='/data/js/work.js'></script>
        <script type="text/javascript" src="/data/js/common.js"></script>

        <script type='text/javascript' src='/data/js/jquery.fancybox.pack.js?v=2.1.3'></script>

        <link href="/data/libs/jquery.uploadfile/uploadfile.css" rel="stylesheet">
        <script src="/data/libs/jquery.uploadfile/jquery.uploadfile.js"></script>

        <script type="text/javascript" src="/data/js/arcticmodal/jquery.arcticmodal-0.3.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/data/js/arcticmodal/jquery.arcticmodal-0.3.css" />
        <link rel="stylesheet" type="text/css" href="/data/js/arcticmodal/themes/simple.css" />

        <script type='text/javascript'>
            function changeTitle(new_title) {
                try {
                    if (+"\v1") {
                        var title = 'Администрирование | @title';
                        if (typeof (new_title) != 'undefined') title = new_title + ' | ' + title;
                        $('title').html(title);
                    }
                } catch (err) { alert(err); }
            }

            $(document).ready(function () {
                PrimeVueLibrary.registerGlobalTags();

                new Vue({ el: "#js-notification" });

                moment.locale('ru-RU');

                $('a#info').click();

                $("#block").hide();
                $("#block").css({ "opacity": "0.7" });

                $(".inmenu").click(function () {
                    return false;
                })

                changeTitle();

                $("#left_panel ul li a.lmain2").click(function () {
                    try {
                        var menuBlock = $(this).parent().parent().find("ul");
                        var menuBlockVisible = menuBlock.css("display") != "none";

                        if (menuBlockVisible) menuBlock.slideUp();
                        else menuBlock.slideDown();

                        $.cookie(menuBlock.parent().attr('class'), !menuBlockVisible);
                    }
                    catch (err) { alert(err); }

                    return false;
                });

                $("#left_panel ul li a.lmain2").each(function () {
                    if ($.cookie($(this).parent().parent().attr('class')) === "true")
                        $(this).parent().parent().find('ul').slideDown();
                    else
                        $(this).parent().parent().find('ul').slideUp();

                });

                $(".open_all").click(function () { $("#left_panel ul li ul").slideDown(); return false; })
                $(".close_all").click(function () { $("#left_panel ul li ul").slideUp(); return false; })

            });
        </script>
    </head>
    <body>
        <div id="item_result"></div>
        <div id='action_result'></div>
        <div id="js-notification"><pvl-toast position="topright" /></div>
        <div id="block"><p><img src="/data/img/loading.gif" alt=""> Загрузка...</p></div>

        <div id="top_panel">
            <ul>
                <li class='padd'><a href='/' target='_blank' class=''>Главная страница</a></li>
                <li>↓ <a href='' class='open_all'>Раскрыть меню</a></li>
                <li>↑ <a href='' class='close_all'>Свернуть меню</a></li>
                <li class='admin_login'><a href='/admin' title=''>@this.GetCurrentUserContext().GetData()</a></li>
            </ul>
        </div>
        <div id="right_panel">
            <div id="left_panel">
                <ul>
                    @{
                        var moduleAdmin = this.GetAppCore().GetModulesManager().GetModule<ModuleAdmin>();
                        var menu = moduleAdmin.GetAdminMenuList(this.GetCurrentUserContext());
                    }
                    @if (menu != null)
                    {
                        foreach (var module in menu)
                        {
                            <li class='i_@module.Key.UrlName'>
                                <span class="lmain">
                                    <a href='/@moduleAdmin.UrlName/mnadmin/@module.Key.IdModule/config/' style='margin-right:5px;'><img src='/data/img/admin/gear_wheel.png'></a>
                                    <a href="" title="" class="lmain2">@module.Key.Caption</a>
                                </span>
                                @submodule(module.Value)
                            </li>
                        }
                    }
                </ul>
            </div>
            <div id="cmain">
                @RenderBody()
                <div class="wrapper h35"></div>
            </div>
        </div>

        <!-- (popup-dialog) -->
        <div class="none">
            <div class="popup popup-dialog" id="popup-dialog">
                <div class="popup__content">

                </div>
                <div class="popup__buttons">

                </div>
            </div>
        </div>
        <!-- End (popup-dialog) -->

    </body>
</html>
}