@using OnXap.Core.Db
@using OnXap.Modules.Customer
@using OnXap.Modules.ItemsCustomize.Field
@model User
@{
    Layout = "~/baseCustomer.cshtml";
    this.SetTitle("Личный кабинет | Общая информация");
}

<h1>Данные аккаунта</h1>
<div class="row">
    <label for="email" class="column col3of16">Эл. почта: </label>
    <div class="column col10of16"><span>@Model.email</span></div>
</div>
<div class="break"></div>

<div class="form_half">
    <label class="column col3of16">Ваше имя: </label>
    <div class="column col10of16"><span>@Model.name</span></div>
</div>
<div class="break"></div>

<div class="form_half_r">
    <label class="column col3of16">Телефон для связи: </label>
    <div class="column col10of16"><span>@Model.phone</span></div>
</div>
<div class="break"></div>

<div>
    <label class="column col3of16">Комментарий: </label>
    <div class="column col10of16"><span>@Model.Comment</span></div>
</div>
<div class="break"></div>
@foreach (var field in Model.Fields)
{
    <div>
        <label class="column col3of16">@field.Value.GetDisplayName(): </label>
        <div class="column col10of16"><span>@Html.Raw(field.Value.GetDisplayValue(field.Value, OutputType.Html)) </span></div>
    </div>
    <div class="break"></div>

}
